.cmbWrapper{
    display:inline-block;
}

.dropdown{
    min-width:fit-content;
}

.option{
    min-width:fit-content;
    text-align:center;
}

.optionValue{
    white-space-collapse: preserve;
}

.optionValue[data-space]{
    text-decoration: underline solid 1px;
}