.container{
    display:inline-block;
}

.autoResize{
    width:auto;
    display:inline-flex;
    flex-direction:row;
    text-align:center;
    justify-content:center;
}

.autoResizeInput{
    padding:0 0.125rem;
    text-align:center;
}