.cmpsContainer{
    width:100%;
    min-height:fit-content;
}

.inputCmp{
    box-sizing: border-box;
    height:var(1lh,1rem);
}

.textCmp{
    min-width:fit-content;
    word-wrap:break-word;
    padding:0 0.125rem;
}